# dependencies
/node_modules

# next.js
/.next/
/out/

# environment
.env
.env.local
.env*.local

# macOS
.DS_Store

# logs
*.log

# design source files
*.psd
*.psb
*.ai

# optional raw assets
/public/raw/
/public/originals/